{% extends 'base.html' %}

{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-xs-12">
        <div class="card">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFXl5_p16WwhQ/profile-displayphoto-shrink_200_200/0/1630137336397?e=1637798400&v=beta&t=kNRQ_OpNJwRj5bHqJY3VK7TMoLAJr-Fy966jyIiqH48" class="card-img-top" alt="Jeet Patel">
          <div class="card-body">
            <h5 class="card-title">Jeet Patel</h5>
            <p class="card-text">Django Developer</p>
          </div>
        </div>
        <br/>
      </div>
      <div class="col-lg-9 col-sm-8 col-xs-12">
        <h3 style="color: #FFF7D6 ;"> Cry-Sys is a Crypto Management System which is built with the latest technologies namely Django, JavaScript, HTML, CSS, Python, SQLite and Bootstrap. Cry-Sys uses the the API of cryptocurrency api in order to fetch the real time latest data of the crypto currencies.
      </div>
    </div>
  </div>
  
  {% include 'footer.html' %}
{% endblock %}
