{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/cryptopotato.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">Aussie cyber spies to control critical infrastructure during ransomware attacks</h5>
          <a href="https://cointelegraph.com/news/aussie-cyber-spies-to-control-critical-infrastructure-during-ransomware-attacks" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/bitcoinist.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">Stablecoin USDC Launches on Hedera Network</h5>
          <a href="https://news.bitcoin.com/play-to-earn-on-playdapps-flagship-rpg-along-with-the-gods-knights-of-the-dawn-in-7-days/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/bitcoincom.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">By Combining Cross-Chain and Oracle Together, PLUG Chain Interconnects Blockchain with the Real World</h5>
          <a href="https://news.bitcoin.com/play-to-earn-on-playdapps-flagship-rpg-along-with-the-gods-knights-of-the-dawn-in-7-days/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/bitcoinist.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">Play-to-Earn on Playdapp’s Flagship RPG “Along With the Gods: Knights of the Dawn” in 7 Days</h5>
          <a href="https://news.bitcoin.com/play-to-earn-on-playdapps-flagship-rpg-along-with-the-gods-knights-of-the-dawn-in-7-days/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/newsbtc.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">Facebook Partners With Coinbase to Launch Its Cryptocurrency Wallet Novi, US Regulators Fight Back</h5>
          <a href="https://www.newsbtc.com/analysis/btc/bitcoin-breaks-key-resistance-65k/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/cryptoglobe/fy0w9gg8204.jpeg" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">Chainalysis Adds Bitcoin to Balance Sheet — Its First Cryptocurrency Acquisition</h5>
          <a href="https://news.bitcoin.com/chainalysis-adds-bitcoin-to-balance-sheet-first-cryptocurrency-acquisition/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12">
      <div class="card">
        <img src="https://images.cryptocompare.com/news/default/newsbtc.png" class="card-img-top" alt="Jeet Patel">
        <div class="card-body">
          <h5 class="card-title">TA: Bitcoin Breaks Key Resistance, Why BTC Could Extend Rally</h5>
          <a href="https://news.bitcoin.com/chainalysis-adds-bitcoin-to-balance-sheet-first-cryptocurrency-acquisition/" class="btn btn-secondary">Read More ...</a>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
  {% include 'footer.html' %}
{% endblock %}
