<footer>
    
    <div class="container-fluid padding">
    <div class="row">
        
        <!-- for info -->
        <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center; color: #FFF7D6;">
            <hr class="light">
            <h4><a href="{% url 'home' %}" style="text-decoration: none; color: #FFF7D6;">Cry-Sys</a></li></h4>
            <p style="color: #FFF7D6;">Cry-Sys is a one stop for managing your entire cryptocurrency data and viewing crypto related news.</p>
        </div>
        <!-- for info -->
        <!-- for quicklinks -->
        <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center; color: #FFF7D6;">
            <hr class="light">
            <h5 style="color: #FFF7D6">Quick Links</h5>
            
            <ul style="list-style-type: none;">
                <li><a style="color: #FFF7D6;" href="#">Home</a></li>
                <li><a style="color: #FFF7D6;" href="#">Crypto Lookup</a></li>
                <li><a style="color: #FFF7D6;" href="#">Blogs</a></li>
                <li><a style="color: #FFF7D6;" href="#">About Us</a></li>
            </ul>
        </div>
        <!-- for quicklinks -->
        <!-- for socials -->
        <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center; color: #FFF7D6;">
            <hr class="light">
            <h5 style="color: #FFF7D6;">Follow Us</h5>
            
            <ul style="list-style-type: none;">
                <li><a style="color: #FFF7D6;" href="#">Instagram</a></li>
                <li><a style="color: #FFF7D6;" href="#">Twitter</a></li>
                <li><a style="color: #FFF7D6;" href="#">Facebook</a></li>
                <li><a style="color: #FFF7D6;" href="#">Linkedin</a></li>
                <li><a style="color: #FFF7D6;" href="#">Youtube</a></li>
            </ul>
        </div>
        <!-- for socials -->
        <!-- for address and subscribe button -->
        <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center; color: #FFF7D6;">
            <hr class="light">
            <h5 style="color: #FFF7D6;">Subscribe To Our NewsLetter</h5>
            <hr class="light">
            <input type="email" placeholder="enter your email address">
            <button class="btn btn-sm btn-secondary">Subscribe</button>
        </div>
        <!-- for address and subscribe button -->
            
        </div>
        <div class="col-12" style="color: #FFF7D6;">
            <hr>
            <h5 style="color: #FFF7D6; text-align: center;">&copy; CrySys - A Crypto Management System</h5>
        </div>
    
    </div>
</footer>